/* Global */

body {
    --font-text-theme: Menlo,SFMono-Regular,Consolas,"Roboto Mono",monospace;
    --font-editor-theme: Menlo,SFMono-Regular,Consolas,"Roboto Mono",monospace;
    --font-monospace-theme: Menlo,SFMono-Regular,Consolas,"Roboto Mono",monospace;
    --font-editor: var(--font-editor-override),var(--font-text-override),var(--font-editor-theme);
}
body {
    --blockquote-style: normal;
    --blockquote-color: normal;
    --blockquote-border-thickness: 3px;
    --blockquote-border-color: var(--ribbon-background);
}
body {
    --table-header-border-width: 0 1px;
    --table-column-first-border-width: 0;
    --table-column-last-border-width: 0;
    --table-row-last-border-width: 0;
}
table {
    width: 100%;
    max-width: var(--line-width-wide)!important;
}
table  tbody  tr  td:nth-child(1) {
    min-width: fit-content;
    white-space: nowrap;
}
.markdown-rendered li.task-list-item.is-checked {
    text-decoration: none;
}
.markdown-source-view .HyperMD-task-line[data-task="X"] {
    text-decoration: none;
}

/* Journal reading mode */

.markdown-rendered.journal span[src$="#avatar"] img {
    width: 45px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.markdown-rendered.journal .el-embed-heading.el-p {
    position: absolute;
    padding-top: 5px;
}
.markdown-rendered.journal .el-div[data-callout="dialouge"] div.callout {
    background-color: transparent;
}
.markdown-rendered.journal .callout[data-callout="dialouge"] {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.markdown-rendered.journal .callout[data-callout="dialouge"] p {
    background-color: var(--ribbon-background);
    border-color: var(--ribbon-background);
    border-style: outset;
    border-width: 2px;
    border-radius: 5px;
    margin-left: 30px;
    padding: 5px;
}
.markdown-rendered.journal .callout-title {
    display: none;
}
.journal h1,.journal h2,.journal h3
{
    text-align: center;
}

/* Journal Live Preview*/

.is-live-preview.journal div[src$="#avatar"] {
    position: absolute;
    padding-top: 35px;
    display: none;
}
.is-live-preview.journal div[src$="#avatar"] img {
    width: 45px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.is-live-preview.journal .el-div[data-callout="dialouge"] div {
    background-color: transparent;
}
.is-live-preview.journal .callout[data-callout="dialouge"] {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.is-live-preview.journal .callout[data-callout="dialouge"] div.callout-title {
    display: none;
}
.is-live-preview.journal .callout[data-callout="dialouge"] p {
    background-color: var(--ribbon-background);
    border-color: var(--ribbon-background);
    border-style: outset;
    border-width: 2px;
    border-radius: 5px;
    /* margin-left: 30px; */
    padding: 5px;
}
.is-live-preview.journal .HyperMD-header-1 {
    text-align: center;
}
.is-live-preview.journal .HyperMD-header-2 {
    text-align: center;
}
.is-live-preview.journal .HyperMD-header-3 {
    text-align: center;
}
/* Asset */

/* Oracle */

/* Character reading mode */

.character span[src$="#profile"] img {
    position: relative;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.character span[src$="#profile"] {
    float: right;
    position: relative;
    width: 150px;
    padding: 10px;
}

/* Character editing mode */

.character div[src$="#profile"]
img{
    position: relative;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.character div[src$="#profile"] {
    float: right;
    position: relative;
    width: 150px;
}