/* Global */

body {
    --font-text-theme: Menlo,SFMono-Regular,Consolas,"Roboto Mono",monospace;
    --font-editor-theme: Menlo,SFMono-Regular,Consolas,"Roboto Mono",monospace;
    --font-monospace-theme: Menlo,SFMono-Regular,Consolas,"Roboto Mono",monospace;
    --font-editor: var(--font-editor-override),var(--font-text-override),var(--font-editor-theme);
}
body {
    --blockquote-style: normal;
    --blockquote-color: normal;
    --blockquote-border-thickness: 3px;
    --blockquote-border-color: var(--ribbon-background);
}
body {
    --table-header-border-width: 0 1px;
    --table-column-first-border-width: 0;
    --table-column-last-border-width: 0;
    --table-row-last-border-width: 0;
}
table {
    width: 100%;
    max-width: var(--line-width-wide)!important;
}
table  tbody  tr  td:nth-child(1) {
    min-width: fit-content;
    white-space: nowrap;
}
.markdown-rendered li.task-list-item.is-checked {
    text-decoration: none;
}
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-list-line[data-task="x"] {
    text-decoration: none;
}

/* Journal reading mode */

.journal span[src$="#avatar"] img {
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1/1;
	visibility: vivisble;
}
.journal span[src$="#avatar"] {
    float: left;
    position: relative;
    top: -6px;
    right: 60px;
    width: 45px;
}
.theme-dark .journal .el-embed-heading p {
    overflow: visible;
    margin-left: 50px;
    padding: 5px;
    background-color: var(--ribbon-background);
    border-color: var(--ribbon-background);
    border-style: outset;
    border-width: 2px;
    border-radius: 5px;
}
.theme-light .journal .el-embed-heading p {
    overflow: visible;
    margin-left: 50px;
    padding: 5px;
    background-color: var(--ribbon-background);
    border-color: var(--ribbon-background);
    border-style: outset;
    border-width: 2px;
    border-radius: 5px;
}
.journal .el-p p
{
    overflow: visible;
    padding: 5px;
}
.journal h1,.journal h2,.journal h3
{
    text-align: center;
}

/* Journal Live Preview*/

.is-live-preview.journal div[src$="#avatar"] > img {
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1/1;
	display: none;
}
.is-live-preview.journal div[src$="#avatar"] {
    float: left;
    position: relative;
    top: -6px;
    right: 50px;
    width: 45px;
}
.is-live-preview.journal .HyperMD-header
{
    text-align: center;
}

/* .is-live-preview.journal span.cm-highlight {
    background-color: var(--ribbon-background);
    border-color: var(--ribbon-background);
    border-style: outset;
    border-width: 2px;
    border-radius: 5px;
} */


/* .is-live-preview.journal div:not(.HyperMD-quote).cm-line[style*="text-indent"]
{
    background-color: var(--ribbon-background);
    border-color: var(--ribbon-background);
    border-style: outset;
    border-width: 2px;
    border-radius: 5px;
}
.is-live-preview.journal .cm-indent::before {
    content: "\200B";
    display: block;
    width: 1px;
    border-right: var(--indentation-guide-width) solid var(--indentation-guide-color);
    color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateX(0.15em);
    visibility: hidden;
} */

/* Asset */

/* Oracle */

/* Character reading mode */

.character span[src$="#profile"] img {
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.character span[src$="#profile"] {
    float: right;
    position: relative;
    width: 200px;
}

/* Character editing mode */

.character div[src$="#profile"]
img{
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.character div[src$="#profile"] {
    float: right;
    position: relative;
    width: 200px;
}